/* Navbar container styles */
.navbar {
    background-color: #2c3e50;
    color: #ffffff;
    width: 250px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0; /* Set padding to 0 */
    align-items: center;
}

/* Style the navbar links */
.navbar-link {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 25px;
    width: 100%; /* Take up full width */
    padding: 30px 15px; /* Padding inside the buttons */
    text-align: center;
    transition: background-color 0.3s ease;
    box-sizing: border-box; /* Include padding and border in the width */
    margin: 0; /* No margin to make buttons touch each other */
    border-radius: 0; /* No rounded corners */
    border-top: 1px solid #31465c; /* Top border only */
    border-bottom: 1px solid #31465c; /* Bottom border only */
}

/* Remove top border from the first link and bottom border from the last link */
.navbar-link:first-child {
    border-top: none;
}

.navbar-link:last-child {
    border-bottom: none;
}

/* Hover effect for navbar links */

.navbar-link:hover, .navbar-link:focus {
    background-color: #34495e;
    color: #ecf0f1 !important; /* Adding !important to ensure this color is applied */
    border-color: #364758; /* Border color on hover */
}



/* Style the navbar title */
/* Style the navbar title */
.navbar-title {
    text-decoration: none; /* Remove underline from link */
    color: #f8f9fa;
    margin-bottom: 20px;
    font-size: 30px; /* Increase font size */
    font-weight: 800; /* Make the font bolder */
    text-align: center;
    background-color: #2980b9; /* Add a distinct background color */
    padding: 15px 30px; /* Add padding for better spacing */
    border-radius: 10px; /* Rounded corners for a modern look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

.navbar-title:hover {
    transform: translateY(-2px); /* Slight upward movement on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.navbar-link.active {
    background-color: #2980b9;
    color: #ffffff;
}
